body{
  background-size: cover; 
  background-repeat: no-repeat;
  transition: background-image 2s ease;
}

section:first-child{
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

a{
  padding: 5px 7px;
  background-color: rgba(33, 33, 33, .6);
  border-radius: 10px;
  border: solid 2px rgba(33, 33, 33);

}

a:hover{
  border: solid 2px white;
}

img{
  width: 40px;
}

section:last-child{
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Trebuchet MS', sans-serif;
}

article{
  background-color: rgba(33, 33, 33, .6);
  padding: 10px 20px;
  border-radius: 15px;
}

div{
  margin: 10px 0;
}

div:first-child{
  width: 285px;
  overflow: hidden; 
  position: relative;
}

h1{
  white-space: nowrap;
  font-size: 30px;
  color: white;
  margin: 0;
  animation: displacement 10s linear infinite;
}

h3{
  color: white;
  text-align: center;
  height: 22px;
}

.fade{
  animation: fade 1.5s ease-in-out;
}

button{
  font-size: 20px;
  cursor: pointer;
  min-width: 140px;
  padding: 5px 0;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  background:transparent;
  transition: .2s ease-in;
}

button:hover{
  background-color: white;
  color: #212121;
}

button:active{
  background-color: #212121;
  color: #212121;
}

@keyframes displacement {
  from { transform: translateX(100%); } 
  to { transform: translateX(-250%); }
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}